<ion-view title="FreeFi">
  <ion-content overflow-scroll="true" padding="true" class="has-header" id="home">
    <!--<h1>Find Free Wifi Wherever you go</h1>-->
    <div class="divDown">
      <a ui-sref="login" id="freeFi-button4"
         class="button button-positive  button-block">Log in</a>
      <a ui-sref="signup" id="freeFi-button5"
         class="button button-calm  button-block">Sign up</a>
      <a ui-sref="tutorial" id="freeFi-button11"
         class="button button-balanced  button-block">Tutorial</a>
    </div>
  </ion-content>
</ion-view>
