<ion-view title="FreeFi">
  <ion-content overflow-scroll="true" padding="true" class="has-header" id="home">
    <!--<h1>Find Free Wifi Wherever you go</h1>-->
    <a ui-sref="tutorial" id="freeFi-button11"
       class="button icon ion-help helpButton"></a>

    <div class="divDown">
      <a ui-sref="login" id="freeFi-button4"
         class="button button-positive">Log in</a>
      <a ui-sref="signup" id="freeFi-button5"
         class="button button-calm">Sign up</a>
    </div>
  </ion-content>
</ion-view>
