<ion-view title="main">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search by location">
            </label>
        </form>
        <!-- add map -->
        <div>
            <!--<img src="img/lkyJ16ZTLCRaxIYJk8KM_map.png" width="100%" height="auto">-->
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
              <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="markersOptions" idkey="marker.id"></ui-gmap-marker>
            </ui-gmap-google-map>
        </div>

        <a ui-sref="addWifiLocation" id="main-button6" class="button button-positive button-block bottom-button">Add Free Wifi location</a>
    </ion-content>
</ion-view>
