<ion-view title="main">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <ion-content>
                <ion-google-place placeholder="Your address" ng-model="data.address" required name="address" location-changed="locationChanged" />
            </ion-content>

            <!-- add map -->

            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="markersOptions" idkey="marker.id"></ui-gmap-marker>
            </ui-gmap-google-map>
        </div>

        <a ui-sref="addWifiLocation" id="main-button6" class="button button-positive ink-dark icon ion-plus-round roundButtonMap"></a>
    </ion-content>
</ion-view>